/* CSS landing page */
.detail1-judul{
    font-size: 18px;
    font-weight: 500;
}
.detail2-judul{
    font-size: 20px;
    font-weight: 700;
}
.judul {
    font-size: 62px;
    color: #007BFF;
    font-weight: bold;
}

.btn-explore{
    width: 50%;
    height: 60px;
    padding: 3%;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    background: #FFA84C;
    color: white;
    border-radius: 10px;
}

.card-our-service{
    width: 100%;
    height: auto;
    text-align: center;
}

.icon-shapes{
    width: 100px;
    height: 100px;
    margin: auto;
}

.card-judul{
    font-weight: 700;
}

.icon-service{
    color: #FFA84C;
    height: 100%;
}
/* End of CSS landing page */
